.task-content-div {
    display: inline-block;
}

#curr-task-content-stuff table tbody tr {
    border-bottom: 1px solid #ecf0f1;
}

#curr-task-content-stuff table tbody tr td {
    padding: 11px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

#curr-task-content-stuff table {
    width: 100%;
}

.icon-menu {
    z-index: -1;
    float: right;
    cursor: pointer;
}

.task-left {
    font-weight: 400;
    display: inline-block;
}

.icon--ei-star:hover {
    /*stroke: #f1c40f;*/
    fill: none;;
    stroke: #f1c40f;
    stroke-width: 1px;
    stroke-dasharray: 2, 2;
    stroke-linejoin: miter;
}

.icon--ei-star {
    z-index: -1;
}

.heads {
    display: inline-block;
}

.timer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.task-description {
    margin-right: auto;
    margin-left: auto;
    display: none;
    width: 430px;
    word-wrap: break-word;
}

.task-description h3 {
    padding: 5px 0;
}

.task-description h4 {
    font-size: 15px;
}

.clicks {
    cursor: pointer;
    padding-left: 5px;
    font-size: 15px;
}

.clicks:hover {
    text-decoration: underline;
}

.header-stuff {
    display: inline-block;
}
