html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    cursor: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*header {*/
/*border-bottom: 1px solid #ecf0f1;*/
/*}*/

body {
    line-height: 1;
    width: 100%;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: ex02-exlight;
    src: url(/img_fonts/exo2/Exo2-ExtraLight.otf);
}

@font-face {
    font-family: ex02-light;
    src: url(/img_fonts/exo2/Exo2-Light.otf);
}

@font-face {
    font-family: ex02;
    src: url(/img_fonts/exo2/Exo2-Regular.otf);
}

header {
    font-family: 'EX02-LIGHT', sans-serif;
    font-weight: 300;
    background-color: #db4437;
    width: 100%;
    /*box-shadow: 0 -10px 50px -10px #000;*/
}

header:after {
    content: '';
    display: block;
    clear: both;
}

header #logo {
    font-family: 'EX02-LIGHT', sans-serif;
    font-weight: 300;
    float: left;
    color: #ffffff;
    padding-top: 15px;
    font-size: 30px;
    font-style: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

header #logo ul li {
    display: inline-block;
    padding-right: 0px;
}

header nav {
    float: right;
    padding-top: 0px;
    padding-right: 15px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header nav div {
    display: inline-block;
}

/*header nav ul {*/
/*margin-top: 11px;*/
/*float: right;*/
/*}*/

/*header nav ul .ico-font {*/
/*display: inline-block;*/
/*}*/

/*header nav ul li a {*/
/*color: #777;*/
/*text-decoration: none;*/
/*}*/

/*header nav ul li a:hover {*/
/*color: #27ae60;*/
/*cursor: pointer;*/
/*}*/

/*header nav ul li a:active {*/
/*color: #2ecc71;*/
/*}*/

/*header nav li + li {*/
/*padding-left: 0px;*/
/*}*/

.icon--ei-user {
    padding-top: 5px;
    width: 50px;
    height: 50px;
    fill: #fff;
    cursor: pointer;
}

.icon--ei-bell {
    padding: 5px 0px 5px;
    width: 35px;
    height: 35px;
    fill: #fff;
    cursor: pointer;
}

.icon--ei-plus {
    padding: 5px 0px 5px;
    width: 35px;
    height: 35px;
    fill: #fff;
    cursor: pointer;
}

.icon--ei-pencil {
    fill: #fff;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.bubble {
    font-family: 'EX02-EXLIGHT', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    border: 1px solid #ecf0f1;
    top: 60px;
    right: 20px;
    position: absolute;
    width: 350px;
    height: 590px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px -10px #000;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 230px;
}

#add-drop-down .section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#add-drop-down h1 {
    color: #DB4437;
    padding: 10px;
}

#add-drop-down h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000;
    padding: 10px;
}

#burst-div li {
    display: inline-block;
}

/*#burst{*/
/*margin-top: 15px;*/
/*}*/

/*#burst-writing {*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-size: 15px;*/
/*color: #000;*/
/*padding: 5px;*/
/*}*/

textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    resize: none;
    width: 310px;
}

#task-name {
    font-family: "Open Sans", sans-serif;
    margin: 10px;
    font-size: 20px;
    width: 310px;
}

#start-date {
    width: 310px;
}

#end-date {
    width: 310px;
}

.times {
    width: 123px;
}

#date ul li {
    display: inline-block;
    font-weight: 300;
    padding: 5px;
    font-family: "open sans", sans-serif;
    color: #000;
}

.mmddyyyy {
    font-family: "open sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 23px;
    width: 40px;
}

#year {
    width: 60px;
}

.ui-datepicker {
    font-family: "open sans", sans-serif;
    background: #fff;  Old browsers
background: #fff -moz-linear-gradient(top, #fcfcfc 0%, #fff 100%);  FF3.6+
background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc)), color-stop(100%, #fff));  Chrome,Safari4+
background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%);  Chrome10+,Safari5.1+
background: #fff -o-linear-gradient(top, #fcfcfc 0%, #fff 100%);  Opera11.10+
background: #fff -ms-linear-gradient(top, #fcfcfc 0%, #fff 100%);  IE10+
                                                                   background: #fff linear-gradient(top, #fcfcfc 0%, #fff 100%);  W3C
                                                                                                                                  font-size: 15px;
font-weight: 300;
padding: 10px;
border: 1px solid #ccc;
}

.ui-datepicker table {
    width: 290px;
}

.ui-datepicker table td {
    text-align: center;
    color: #000000;
}

.ui-datepicker a {
    cursor: pointer;
    text-decoration: none;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
    font-weight: 400;
    padding: 5px;
}

.ui-datepicker-calendar {
    font-family: "OPEN SANS", sans-serif;
    font-weight: 300;
    color: #000000;
}

.button {
    font-family: "open sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 0;
    border-radius: 5px;
    width: 315px;
    padding: 5px;
}

#submit-add{
    background-color: #2ecc71;
    color: #ffffff;
    border: 1px solid #2ecc71;
}

#submit-add-cancel{
    background-color: #e74c3c;
    color: #ffffff;
    border: 1px solid #e74c3c;
}