.icon__cnt {
    cursor: pointer;
    z-index: 20;
}

#side-menu {
    float: left;
    background-color: #ecf0f1;
    height: 91.4vh;
    width: 100px;
    text-align: center;
    font-family: 'exo 2', sans-serif;
    font-weight: 200;
    font-size: 19px;
    color: #000000;
    cursor: pointer;
}

#side-menu div div {
    padding: 8.9px 0;
    cursor: pointer;
}

.side-bar-icon {
    width: 50px;
    padding: 10px 0 5px;
    cursor: pointer;
}

.hoem {
    background-color: #bdc3c7;
}

.icon--ei-exclamation {
    width: 100px;
    height: 100px;
}

.icon--ei-chart {
    padding: 10px 0 5px;
    width: 50px;
    height: 50px;
}

.icon--ei-gear {
    padding: 10px 0 5px;
    width: 50px;
    height: 50px;
}

.icon--ei-chevron-down {
    float: right;
}

.div:hover {
    background-color: #bdc3c7;
}

/*section {*/
/*display: inline-block;*/
/*}*/

#main-contents {
    height: 91.4vh;
}

#curr-task-content {
    float: right;
    height: 91.4vh;
    border-left: 1px solid #ecf0f1;
    width: 500px;
}

.header {
    display: inline-block;
    padding: 10px;
}

.header-icons {
    display: inline-block;
    padding: 10px 5px 10px 0px;
}

.icons {
    z-index: -1;
    cursor: pointer;
    fill: #DB4437;
    width: 27px;
    height: 27px;
    float: right;
    display: inline-block;
}

#curr-task-header {
    border-bottom: 1px solid #ecf0f1;
}

#curr-task-header h1 {
    font-family: "exo 2", sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #DB4437;
}

#curr-task-content-stuff {
    height: 84.7vh;
    width: 100%;
    overflow-y: auto;
}

#nothing {
    font-family: 'exo 2', sans-serif;
    font-weight: 300;
    width: 100%;
    display: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    fill: #DB4437;
    color: #DB4437;
    font-size: 30px;
}

.some-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    padding: 5px 5px 5px 0;
    background-color: #ecf0f1;
    /*float: left;*/
    /*display: block;*/
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 99%;
}

#moreInfo-main {
    font-family: 'Open Sans', sans-serif;
}

#moreInfo-main h2 {
    padding: 1.5px 0;
}

#moreInfo-main div {
    padding: 0 2.5px;
}

#moreInfo-main-h1 {
    padding: 0 5px;
    font-size: 30px;
}

.moreInfo-h1 {
    display: inline-block;
}

#header-stuff {
    background-color: #ecf0f1;
}

#back {
    color: #2980b9;
}

#back-button {
    padding-top: 0.05em;
    width: 20px;
    height: 20px;
}

#task-summary h2 {
    /*padding: 1px;*/
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

#description-post {
    padding: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.mainhead{
    padding: 5px 0 5px 5px;
}